html {
  font-family: "Festive", cursive;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: lightblue;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-logo {
  width: 450px;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px;

  a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #2e69b2;
  }
}

.pokemons {
  display: flex;
  padding-top: 30px;

  .section-title {
    font-size: 1.5em;
    text-align: center;
    color: #2e69b2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 20px;
  background-color: rgb(230, 230, 230);
  margin: 7px;
  width: 150px;
  box-shadow: 5px 5px 5px rgb(59, 59, 59);
  transition: all 0.4s ease;

  .pokemon-picture {
    height: 175px;
    width: 100%;
  }
}

.pokemon-card:hover {
  transform: scale(1.1);
}

li h4 {
  text-transform: capitalize;
}

@media (min-width: 750px) {
  .pokemon-logo {
    width: 700px;
  }
}
